extends layout

block scripts
	script(type='text/javascript' src='/js/tinymce_4.4.3/tinymce.min.js')
	script(type='text/javascript' src='/js/formdesigner.js')

block content
	each obj in form
		h1.pagetitle= obj.title
		h3!= obj.desc
		div.pagecontent
			form(action='/saveform' id='sectionForm' method='post')
				input#sectionJson(type='hidden' name='sectionJson')= fields

			div.toolbox.col-md-3
				ul.toolscol
					li
						button.btn#addgrid(name="grid") Grid
							img(src='/img/text.png')
					li
						button.btn#addtext(name="text") Text
							img(src='/img/text.png')
					li
						button.btn#addarea(name="area") Text Area
							img(src='/img/area.png')
					li
						button.btn#addnumber(name="number") Number
							img(src='/img/number.png')
					li
						button.btn#addurl(name="url") Url
							img(src='/img/url.png')
					li
						button.btn#adddroplist(name="droplist") Dropdown List
							img(src='/img/dropdown.png')
					li
						button.btn#addcheck(name="checkbox") Checkbox List
							img(src='/img/check.png')
					li
						button.btn#addradio(name="radio") Radio List
							img(src='/img/radio.png')
					li
						button.btn#addyesno(name="yesno") Yes/No
							img(src='/img/url.png')
					li
						button.btn#addname(name="fullname") Name
							img(src='/img/name.png')
					li
						button.btn#addpostal(name="postaladdress") Postal Address
							img(src='/img/postal.png')
					li
						button.btn#addemail(name="emailaddress") Email Address
							img(src='/img/email.png')
					li
						button.btn#addphone(name="phone") Phone
							img(src='/img/phone.png')
					li
						button.btn#adddate(name="datefield") Date
							img(src='/img/calendar.png')
					li
						button.btn#addtime(name="timefield") Time
							img(src='/img/time.png')
					li
						button.btn#adddocupload(name="docupload") Document Upload
							img(src='/img/docupload.png')
					li
						button.btn#addbreak(name="break") Break
							img(src='/img/break.png')
				div.clearfix

			div#formarea.col-md-9
				div.grid-container
					span.addgridleft.glyphicon.glyphicon-step-backward
					span.addgridright.glyphicon.glyphicon-step-forward
					div.grid
						div.grid-4.gridcell
						div.grid-4.gridcell
						div.grid-4.gridcell
						div.grid-4.gridcell					
					div.clearfix

				div.clearfix
			div#formactions
				a.btn.btn-primary#save(href='#') Save
				a.btn.btn-default(href='/cancel') Cancel
				div.clearfix

		div.pagefooter
