extends layout

block scripts

block content
	h1.pagetitle= title
	div.pagecontent
		form(action='/formcreate' method='post')
			div.formfield
				label(for='formtitle') Form Title:
				input(type='text' id='formtitle' name='formtitle' value='')

			div.formfield
				label(for='formdesc') Description
				textarea(id='formdesc' name='formdesc' rows='3' cols='50')

			div.formfield
				label(for='stylesheet') Stylesheet
				input(type='text' name='stylesheet' id='stylesheet' value='')

			div.formfield
				label(for='formtype') Form Type
				select(name='formtype' id='formtype')
					option(value='singlepage') Single Page
					option(value='multitableft') Multi-tabbed - Left
					option(value='multitabtop') Multi-tabbed - Top
					option(value='pagenav') Page Navigation

			div.formfield
				input(type='submit' name='createform' value='Create')
	div.pagefooter
