extends layout

block scripts
	script(type='text/javascript' src='/js/tinymce_4.4.3/tinymce.min.js')
	script(type='text/javascript' src='/js/formdesigner.js')

block content
	each obj in form
		h1.pagetitle= obj.title
		h3!= obj.desc
		div.pagecontent
			form(action='/saveform' id='sectionForm' method='post')
				input#sectionJson(type='hidden' name='sectionJson')= fields

			div.toolbox.col-md-3
				ul.toolscol
					li
						button.btn#addgrid(name="grid") Grid
							img(src='/img/text.png')
					li
						button.btn#addtext(name="text") Text
							img(src='/img/text.png')
					li
						button.btn#addarea(name="area") Text Area
							img(src='/img/area.png')
					li
						button.btn#addnumber(name="number") Number
							img(src='/img/number.png')
					li
						button.btn#addurl(name="url") Url
							img(src='/img/url.png')
					li
						button.btn#adddroplist(name="droplist") Dropdown List
							img(src='/img/dropdown.png')
					li
						button.btn#addcheck(name="checkbox") Checkbox List
							img(src='/img/check.png')
					li
						button.btn#addradio(name="radio") Radio List
							img(src='/img/radio.png')
					li
						button.btn#addyesno(name="yesno") Yes/No
							img(src='/img/url.png')
					li
						button.btn#addname(name="fullname") Name
							img(src='/img/name.png')
					li
						button.btn#addpostal(name="postaladdress") Postal Address
							img(src='/img/postal.png')
					li
						button.btn#addemail(name="emailaddress") Email Address
							img(src='/img/email.png')
					li
						button.btn#addphone(name="phone") Phone
							img(src='/img/phone.png')
					li
						button.btn#adddate(name="datefield") Date
							img(src='/img/calendar.png')
					li
						button.btn#addtime(name="timefield") Time
							img(src='/img/time.png')
					li
						button.btn#adddocupload(name="docupload") Document Upload
							img(src='/img/docupload.png')
					li
						button.btn#addbreak(name="break") Break
							img(src='/img/break.png')
				div.clearfix

			div#formarea.col-md-9
				div.grid-container
					span.addgridleft.glyphicon.glyphicon-step-backward
					span.addgridright.glyphicon.glyphicon-step-forward
					div.grid
						div.grid-4.gridcell
						div.grid-4.gridcell
						div.grid-4.gridcell
						div.grid-4.gridcell					
					div.clearfix

				div.clearfix
			div#formactions
				a.btn.btn-primary#save(href='#') Save
				a.btn.btn-default(href='/cancel') Cancel
				div.clearfix

		div.pagefooter

	div#settingsdlg.dialog
		div#settings-tabs
			ul
				li
					a(href='#tab1') General
				li
					a(href='#tab2') Validation
				li
					a(href='#tab3') Logic
				li
					a(href='#tab4') List options
			#tab1.tab
				label
					div.heading Control ID:
					input(type='text' id="control_id" name='control_id' value='' size="10")
				label
					div.heading Title:
					input(type='text' id='title' name='title' value='' size="20")
				label
					div.heading Description:
					textarea(rows='2' cols='50' id='desc' name='desc')
				label
					span.heading Use as tooltip:
					input(type="checkbox" id='tooltip' name='tooltip')
			#tab2.tab
				div.tabcol1
					label
						div.heading Data Type:
						input(type='text' name='data_type' value='' size="10")
					label
						div.heading Field Size:
						input(type='text' id='field_size' value='' size="5")
				div.tabcol2
					label
						div.heading Minimum:
						input(type='text' id='min_value' value='' size="5")
					label
						div.heading Maximum:
						input(type='text' id='max_value' value='' size="5")
					label
						div.heading Input mask:
						input(type='text' id='input_mask' value='' size="10")
					label#required_label
						span.heading Required?
						input(type='checkbox' id='required' name='required' value='')
			#tab3.tab
				div.tabcol1
					label#default_label
						div.heading Default Value:
						textarea(rows='2' cols='20' id='defaultvalue' name='defaultvalue')
					label#visibility
						div.heading Visibility:
						textarea(rows='2' cols='20' id='visibility' name='visibility')
				div.tabcol2
					label#readonly_label
						div.heading Readonly:
						textarea(rows='2' cols='20' id='readonly' name='readonly')
			#tab4.tab
				div#options_label
					ol
						li
						li
						li
					p
						a.btn.btn-default#option_add(href='#' role="button") Add
						a.btn.btn-default#option_clear(href='#' role="button") Clear