div#settingsdlg.dialog
	div#settings-tabs
		ul
			li
				a(href='#tab1') General
			li
				a(href='#tab2') Validation
			li
				a(href='#tab3') Logic
			li
				a(href='#tab4') List options
			li
				a(href='#tab5') Events
		#tab1.tab
			div.tabcol
				label
					div.heading Control ID:
					input(type='text' id="control_id" name='control_id' value='' size="30")
				label
					div.heading Title:
					textarea(type='text' id='title' name='title' rows="2" cols="40")
				label(style='float:right;')
					span.heading Use as tooltip:
					input(type="checkbox" id='tooltip' name='tooltip')
				label
					div.heading Description:
					textarea(rows='2' cols='40' id='desc' name='desc')
				label
					div.heading Container CSS class:
					input(type="text" id='css_class' name='css_class' size="30")
					
		#tab2.tab
			div.tabcol.cols-2
				label#datatype_label
					div.heading Data type:
					select(name='data_type' id='data_type')
						option(value='A') Alpha only
						option(value='AN') Alpha-numeric
						option(value='NI') Numeric - integers
						option(value='ND') Numeric - decimals
						option(value='B') Boolean
				label#size_label
					div.heading Field size (px):
						select(id="field_size" name="field_size")
							option(value="8") small
							option(value="12") medium
							option(value="20") large
				label#required_label
					span.heading Required?
					input(type='checkbox' id='required' name='required' value='')
			div.tabcol.cols-2
				label#minmax_label
					div.heading Minimum value:
					input(type='text' id='min_value' value='' size="5")
					div.heading Maximum value:
					input(type='text' id='max_value' value='' size="5")
				label#mask_label
					div.heading Input mask:
					input(type='text' id='input_mask' value='' size="20")

		#tab3.tab
			div.tabcol.cols-2
				label#default_label
					div.heading Default Value:
					textarea(rows='3' cols='20' id='defaultvalue' name='defaultvalue')
				label#visibility
					div.heading Visibility:
					textarea(rows='3' cols='20' id='visibility' name='visibility')
			div.tabcol.cols-2
				label#readonly_label
					div.heading Readonly:
					textarea(rows='3' cols='20' id='readonly' name='readonly')
				label#calculate_label
					div.heading Calculate:
					textarea(rows='3' cols='20' id='calculate' name='calculate')

		#tab4.tab
			div.tabcol
				label#options_label
					ol
						li
						li
						li
					label
						a.btn.btn-default#option_add(href='#' role="button") Add
						a.btn.btn-default#option_clear(href='#' role="button") Clear
		#tab5.tab
			label#events_label
				div.tabcol.cols-2
					label
						div.heading Activated:
						textarea(rows='3' cols='20' id='onclick' name='onclick')
					label
						div.heading Value Changed:
						textarea(rows='3' cols='20' id='onchange' name='onchange')
				div.tabcol.cols-2
					label
						div.heading Enabled:
						textarea(rows='3' cols='20' id='onshow' name='onshow')
					label
						div.heading Disabled:
						textarea(rows='3' cols='20' id='onhide' name='onhide')
