div#settingsdlg.dialog
	div#settings-tabs
		ul
			li
				a(href='#tab1') General
			li
				a(href='#tab2') Validation
			li
				a(href='#tab3') Logic
			li
				a(href='#tab4') List options
			li
				a(href='#tab5') Events
		#tab1.tab
			label
				div.heading Control ID:
				input(type='text' id="control_id" name='control_id' value='' size="10")
			label
				div.heading Title:
				input(type='text' id='title' name='title' value='' size="20")
			label
				div.heading Description:
				textarea(rows='2' cols='50' id='desc' name='desc')
			label
				span.heading Use as tooltip:
				input(type="checkbox" id='tooltip' name='tooltip')
			label
				span.heading CSS class:
				input(type="text" id='css_class' name='css_class' size="12")
		#tab2.tab
			div.tabcol1
				label#datatype_label
					div.heading Data type:
					select(name='data_type' id='data_type')
						option(value='A') Alpha only
						option(value='AN') Alpha-numeric
						option(value='NI') Numeric - integers
						option(value='ND') Numeric - decimals
						option(value='B') Boolean
				label#size_label
					div.heading Field size (px):
						select(id="field_size" name="field_size")
							option(value="8") small
							option(value="12") medium
							option(value="20") large
			div.tabcol2
				label#minmax_label
					div.heading Minimum value:
					input(type='text' id='min_value' value='' size="5")
					br
					div.heading Maximum value:
					input(type='text' id='max_value' value='' size="5")
				label#mask_label
					div.heading Input mask:
					input(type='text' id='input_mask' value='' size="10")
				label#required_label
					span.heading Required?
					input(type='checkbox' id='required' name='required' value='')
		#tab3.tab
			div.tabcol1
				label#default_label
					div.heading Default Value:
					textarea(rows='2' cols='20' id='defaultvalue' name='defaultvalue')
				label#visibility
					div.heading Visibility:
					textarea(rows='2' cols='20' id='visibility' name='visibility')
			div.tabcol2
				label#readonly_label
					div.heading Readonly:
					textarea(rows='2' cols='20' id='readonly' name='readonly')
		#tab4.tab
			label#options_label
				ol
					li
					li
					li
				p
					a.btn.btn-default#option_add(href='#' role="button") Add
					a.btn.btn-default#option_clear(href='#' role="button") Clear
		#tab5.tab
			label#events_label
				p
					div.heading onClick:
					textarea(rows='2' cols='20' id='onclick' name='onclick')
				p
					div.heading onChange:
					textarea(rows='2' cols='20' id='onchange' name='onchange')
