body {
  padding:30px;
}


nav.navbar {z-index:1000;background-color:#fff;border-bottom:1px dotted #000;}

a {
  color: #00B7FF;
}

#formarea {display:inline;}
#formactions {margin-left:30px;}

#formarea .grid-container { display:block; clear:both; height:120px;}

#formarea .grid-container .addrows { display:table; min-height:90px; float:left;}
#formarea .grid-container .addcols { display:block; width:98%; }
#formarea .grid-container .delcol {position:absolute; z-index:100;}
#formarea .grid-container .delrow {position:absolute; z-index:100;}

#formarea  .grid-container .addcellleft {float:left;}
#formarea  .grid-container .addcellright {float:right;}
#formarea  .grid-container .addrowup {display:table-row;}
#formarea  .grid-container .addrowdown {display:table-row; vertical-align:bottom;}

#formarea .grid-container .grid  {
	float:left;
	min-height:90px;
	width:96%;
	border: 2px dashed #ddd;
	margin:4px; padding:8px;
	margin-bottom:20px;
}

#formarea .grid .gridcell {
	float:left;
	border: 2px solid #dadada;
	border-radius: 7px;
	margin:1px;
	min-height:90px; height:90px;
	overflow:hidden;
}

.grid  .grid-1 { width:98%; }
.grid  .grid-2 { width: 48%; }
.grid  .grid-3 { width: 32%; }
.grid  .grid-4 { width: 24%; }
.grid  .grid-5 { width: 19%; }
.grid  .grid-6 { width: 15%; }

.highlight-grid {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.selected-grid {
    outline: none;
    border-color: #f00;
    box-shadow: 0 0 10px #f00;
}


label.well {margin-bottom:0px !important;}


div.toolbox {
	width:15%;
	float:left;
}


ul {list-style-type: none;}


ul.toolscol {
	float:left;
	margin:0px; padding:0px;
	list-style-type: none;
}

ul.toolscol li {
	padding:2px;
}

ul.toolscol li button.btn {width:95%; text-align:left; white-space:nowrap;}
ul.toolscol li button.btn img {float:left;margin:2px;}


#settingsdlg {display:none;}

.tab {}
.tab .tabcol1 {float:left; width:49%; margin-right:5px;}
.tab .tabcol2 {}

.tab  label {margin-botton: 5px; padding:6px; display:block;}
.tab label .heading {width:50em; padding-right:3px; font-weight:bold;}
