body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


nav.navbar {z-index:1000;background-color:#fff;border-bottom:1px dotted #000;}

a {
  color: #00B7FF;
}

#formarea {float:left;}
#formarea #formactions {margin-left:30px;}

#formarea .grid-container { display:block; clear:both; }
#formarea .grid-container  .addgridleft {display:none; float:left; vertical-align:top; color:#aaa;}
#formarea .grid-container  .addgridright {display:none; color:#aaa; vertical-align:top;}


#formarea .grid-container .grid  {
	float:left;
	min-height:20px;
	width:95%;
	border: 2px dashed #ddd;
	margin:5px; padding:8px;
	margin-bottom:20px;
}

#formarea .grid .gridcell {
	float:left;
	border: 2px solid #dadada;
	border-radius: 7px;
	margin:1px;
	min-height:4em;
}


.grid  .grid-2 { width: 48%; }
.grid  .grid-3 { width: 32%; }
.grid  .grid-4 { width: 24%; }
.grid  .grid-5 { width: 19%; }
.grid  .grid-6 { width: 15%; }

.highlight-grid {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.selected-grid {
    outline: none;
    border-color: #f00;
    box-shadow: 0 0 10px #f00;
}


div.toolbox {
	width:20%;
	float:left;
}


ul {list-style-type: none;}


ul.toolscol {
	float:left;
	margin:0px; padding:0px;
	list-style-type: none;
}

ul.toolscol li {
	padding:2px;
}

ul.toolscol li button.btn {width:95%; text-align:left; white-space:nowrap;}
ul.toolscol li button.btn img {float:left;margin:2px;}


#settingsdlg {display:none;}
